body {
  background-color: #25dae5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #014249;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
  margin-top: 3.5rem;
}

.grid-game {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 1rem auto;
}

.grid-game div {
  border: 9px solid #098693;
  border-top: none;
  border-left: none;
  padding: 72px;
}

.grid-game div:nth-child(7),
.grid-game div:nth-child(8),
.grid-game div:nth-child(9) {
  border-bottom: none;
}

.grid-game div:nth-child(3),
.grid-game div:nth-child(6),
.grid-game div:nth-child(9) {
  border-right: none;
}

.grid-game div.circle {
  background-image: url("../img/circle.svg");
}

.grid-game div.x {
  background-image: url("../img/iconX.svg");
}

.grid-game div.circle,
.grid-game div.x {
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}

.modal-container {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-container.ativo {
  display: flex;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.25rem;
  background: #ffffff;
  min-width: 300px;
  padding: 50px;
  border-radius: 4px;
  position: relative;
}

span {
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  padding: 1rem 2.5rem;
  border-radius: 4px;
  font-size: 1.25rem;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

button:hover {
  transition: 0.3s;
  background-color: rgb(211, 211, 211);
}
